@font-face {
  font-family: Figtree;
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: hsl(47, 88%, 63%);
  font-family: Figtree;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 22%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  padding: 22px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 10px 8px black;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.text-container {
  width: 95%;
  height: 52%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-type-container {
  background-color: hsl(47, 88%, 63%);
  border-radius: 6px;
  padding: 10px 20px;
  height: 12px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    font-weight: 800;
  }
}

.date-published-text {
  color: hsl(0, 0%, 7%);
  font-size: 14px;
  font-weight: 500;
}

.title-text {
  color: hsl(0, 0%, 7%);
  font-size: 24px;
  font-weight: 800;
  margin: 0;
  &:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
  }
}

.description-text {
  color: hsl(0, 0%, 42%);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar-image {
  width: 35px;
  height: 35px;
}

.author-name {
  color: hsl(0, 0%, 7%);
  font-size: 14px;
  font-weight: 800;
  margin-left: 10px;
}

/* -------------------- Responsive Styles ---------------------- */

/* Mobile Devices */
@media (max-width: 768px) {
  .card-container {
    width: 72%;
    height: 52%;
  }
  .text-container {
  }
  .card-type-container {
    p {
      font-size: 12px;
    }
  }
  .date-published-text {
    font-size: 12px;
  }
  .title-text {
    font-size: 20px;
  }
  .description-text {
    font-size: 14px;
  }
  .author-name {
    font-size: 12px;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .card-container {
    width: 40%;
    height: 60%;
  }
}

/* Laptops */
@media (min-width: 1024px) and (max-width: 1440px) {
  .card-container {
    width: 30%;
    height: 60%;
  }
}
